/* --- This CSS affects all pages on the site --- */
/* --- <start> General base styles cross pages --- */
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 100%;
}

body, div, p, td {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 10pt;
    text-align: left;
}

table.content {
    padding-left: 10px;
}
img {
    border: none;
}

div.status {
    text-align: center;
}

span.status {
    padding: 3px 5px 3px 5px;
    background-color: #FFCC00;
    visibility: hidden;
    font-size: 10pt;
}
/* --- <end> General base styles cross pages --- */

/* --- <start> general hyperlinks --- */
a.no_link {
    cursor: pointer;
    color: #FC8F02;
}

a.sortable {
    cursor: pointer;
    color: #666666;
}

a {
    color: #FC8F02;
    text-decoration: none;
}

a:link, a:visited {
    color: #FC8F02;
}

a:active, a:hover {
    text-decoration: underline;
}

a.menu {
    color: #666666;
    text-decoration: none;
}

a.menu:active, a.menu:hover {
    color: #FFFFFF;
}

/* --- <end> general hyperlinks --- */

/* --- <start> base table --- */
table.header {
    width: 100%;
    margin: auto;
    font-weight: bold;
    border-collapse: collapse;
    /*border-top: 1px solid #0000FF;
    border-bottom: 1px solid #0000FF;*/
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

table.header td {
    font-size: 10pt;
    /*background-color: #66CCFF;*/
    background-color: #EEEEEE;
    padding-left: 3px;
    padding-right: 3px;
}

table.list {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

table.list td {
    font-size: 10pt;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 3px;
    padding-right: 3px;
}

table.list tr:hover {
    background-color: #FFFF00;
}

/*table.list td:hover {
    background-color: #BBFCA1;
}*/
/* --- <end> base table --- */

/* --- <start> general page header --- */
table.top {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

table.top td.employee_help {
    width: 1%;
    vertical-align: bottom;
    text-align: right;
}

div.top {
    height: 68px;
    background: url('../images/search_headbg.jpg') repeat-x;
    padding-top: 0px;
}

div.top table.top {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

table.top td.top_logo {
    padding-top: 0px;
    width: 276px;
}

div.page_title {
    text-align: right;
    color: #FFFFFF;
    vertical-align: middle;
/*    font-weight: bold;*/
    font-size: 18pt;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-top: 10px;
}

span.slogan {
    font-style: italic;
}

/* --- <end> general page top --- */

/* --- <start> top mini job search ---- */
option.main_industry {
    font-weight: bold;
}

#mini_keywords {
    margin-left: 3px;
    font-size: 10pt;
    width: 200px;
}

/* --- <end> top mini job search ---- */

/* --- <start> general page footer --- */
div.footer {
    width: 100%;
    border-top: 1px solid #CDCDCD;
/*    background: url('../images/footbg.jpg') repeat-x;*/
/*    color: #FFFFFF;*/
    margin-top: 15px;
    padding-top: 3px;
    height: 50px;
}
div.footer a {
    color: #fc8f02;
}
div.footer a:hover {
/*    color: #ffffff;*/
    color: #ff0000;
/*    text-decoration: none;*/
}
div.footer table {
    font-size: 12px;
    margin: 0 auto;
}

div.footer p {
    font-size: 9pt;
    text-align: center;
    /*background-color: #FFCC00;*/
    /*background-color: #97DFFC;*/
    padding-top: 25px;
    padding-bottom: 3px;
}
/* --- <end> general footer --- */

/* --- <start> general top menu --- */
div.menu {
    padding-bottom: 12px;
    background-color: #EEEEEE;
}

ul.menu {
    background-color: #EEEEEE;
    list-style-type: none;
    white-space: nowrap;
    padding: 6px 0px 6px 0px;
    margin-top: 0px;
/*    overflow: auto;*/
}

ul.menu li {
    padding: 5px 10px 5px 10px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 10pt;
    font-weight: bold;
    display: inline;
    float: left;
}

ul.menu li:hover {
    background-color: #CCCCCC;
}

ul.menu li.logout {
    float: right;
}
/* --- <end> general top menu --- */

/* --- <start>  employer support bar --- */
div.support {
    padding-left: 10px;
    font-size: 9pt;
    color: #FFFFFF;
    border-bottom: 1px solid #474747;
    background-color: #474747;
}

div.support span.phone, div.support span.email {
    font-weight: bold;
}
/* --- <end>  employer support bar --- */

/* --- <start> base popup window --- */
.popup_window {
    border: 5px solid #CCCCCC;
    padding: 5px 5px 5px 5px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #FFFFFF;
    overflow: auto;
}

.popup_window_title {
    width: 99%;
    background-color: #CCCCCC;
    margin: auto;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}

.popup_window_buttons_bar {
    width: 99%;
    border-top: 1px solid #CCCCCC;
    margin: auto;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
}
/* --- <end> base popup window --- */

/* --- <start> misc --- */
p.small_notes {
    font-size: 9pt;
    font-style: italic;
    color: #666666;
}

.overTxtLabel {
    color: #AAAAAA;
}
/* --- <end> misc --- */
