html, body, .wrap{
	margin:0;
	height: 100%;	
}
body, div, p, td, input, textarea, select {
    font-family: "Nimbus Sans Becker L",Arial,Helvetica,sans-serif !important;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

body, div, p, td {
    font-size: 10pt;
    text-align: left;
}

table.welcome_top {
    margin: auto;
    border-spacing: 0px;
    width: 800px;
}

table.welcome_top td.welcome_logo {
    text-align: left;
    vertical-align: middle;
    width: 25%;
}

div.job_search {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #CCCCCC;
}

div.search_form {
    white-space: nowrap;
}

div.search_form #keywords {
    width: 85%;
    font-size: 10pt;
    vertical-align: middle;
}

div.search_form #employer, div.search_form #industry {
    width: 47%;
    font-size: 10pt;
    vertical-align: middle;
}

div.welcome_login {
    font-size: 11pt;
    color: #666666;
    padding-bottom: 5px;
}

a.industry_item:link, a.industry_item:visited {
    color: #666666;
    text-decoration: none;
}

a.industry_item:active, a.industry_item:hover {
    color: #0000FF;
    text-decoration: underline;
}

a.no_link {
    cursor: pointer;
    color: #0000FF;
}

a.sortable {
    cursor: pointer;
    color: #666666;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:link, a:visited {
    color:#0000FF;
}

a:active, a:hover {
    color: #FF0000;
    text-decoration: underline;
}

a.menu {
    color: #666666;
    text-decoration: none;
}

a.menu:active, a.menu:hover {
    color: #FFFFFF;
}

img {
    border: none;
}

div.status {
    text-align: center;
}

span.status {
    padding: 3px 5px 3px 5px;
    background-color: #FFCC00;
    visibility: hidden;
    font-size: 10pt;
}

table.header {
    width: 100%;
    margin: auto;
    font-weight: bold;
    border-collapse: collapse;
    /*border-top: 1px solid #0000FF;
    border-bottom: 1px solid #0000FF;*/
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

table.header td {
    font-size: 10pt;
    /*background-color: #66CCFF;*/
    background-color: #EEEEEE;
    padding-left: 3px;
    padding-right: 3px;
}

table.list {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

table.list td {
    font-size: 10pt;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 3px;
    padding-right: 3px;
}

table.list tr:hover {
    background-color: #FFFF00;
}

table.list td:hover {
    background-color: #BBFCA1;
}

table.top {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

table.top td.employee_help {
    width: 1%;
    vertical-align: bottom;
    text-align: right;
}

div.top {
	height: 68px;
	background: url('../images/search_headbg.jpg') repeat-x;
	padding-top: 0;
}

td.logo {
    text-align: center;
    width: 15%;
}

td.logo img {
    vertical-align: middle;
    border: none;
}

div.page_title {
    text-align: left;
    color: #666666;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18pt;
    margin-left: 10px;
    margin-bottom: 10px;
}

span.slogan {
    font-style: italic;
}

div.footer {
    background: url('../images/footbg.jpg') repeat-x;
    color: #ffffff;
    height: 130px;
    padding-top: 32px;
}
div.footer a {
    color: #fc8f02;
}
div.footer a:hover {
    color: #ffffff;
    text-decoration: none;
}
div.footer table {
    font-size: 12px;
    margin: 0 auto;
}

div.footer p {
    font-size: 9pt;
    text-align: center;
    /*background-color: #FFCC00;*/
    /*background-color: #97DFFC;*/
    padding-top: 25px;
    padding-bottom: 3px;
}

div.menu {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #EEEEEE;
}

div.menu ul.menu {
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

ul.menu li {
    padding: 5px 10px 5px 10px;
    font-size: 10pt;
    font-weight: bold;
    display: inline;
}

ul.menu li:hover {
    background-color: #CCCCCC;
}

div.support {
    font-size: 9pt;
    border-bottom: 1px solid #CCCCCC;
}

div.support span.phone, div.support span.email {
    font-weight: bold;
}

div.rewards {
	text-align: center;
    font-size: 10pt;
    padding-top: 45px;
    padding-bottom: 15px;
    color: #666666;
}

div.rewards div.rewards_title {
    text-align: center;
    font-size: 10pt;
    padding-bottom: 10px;
    font-weight: bold;
}

img.flag {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border: none;
}

div.job_count {
    font-size: 10pt;
    padding-top: 15px;
    padding-bottom: 3px;
    color: #666666;
}

span.job_count {
    font-weight: bold;
    font-size: 11pt;
}

div.mini_search {
    /*border: 1px solid #FFCC00;*/
}

table.search td.title {
    text-align: center;
    vertical-align: middle;
    /*background-color: #99CCFF;
    border: 1px solid #99CCFF;*/
    font-weight: bold;
}

table.search td.search {
    text-align: center;
    vertical-align: middle;
    /*border: 1px solid #99CCFF;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

option.main_industry {
    font-weight: bold;
}

#industry_drop_down {
    /*font-size: 12pt;*/
    font-size: 10pt;
    vertical-align: middle;
}

#employer_drop_down {
    font-size: 10pt;
    vertical-align: middle;
}

#mini_industry, #mini_employer {
    vertical-align: middle;
}

#mini_keywords {
	width: 467px;
	height: 20px;
	border: 1px #abadb3 solid;
}

#mini_search_button {
	border: 1px #cccccc solid;
	background: #f0f0f0;
	padding: 0 5px;
	height: 25px;
}

#industry {
    width: 30%;
    font-size: 10pt;
    vertical-align: middle;
}

#employer {
    width: 30%;
    font-size: 10pt;
    vertical-align: middle;
}

div.debug {
    font-size: 8pt;
}

div.companies {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 20px;
}

img.companies {
    border: none;
    vertical-align: middle;
}

p.small_notes {
    font-size: 9pt;
    font-style: italic;
    color: #666666;
}

.reminder {
    font-size: 9pt;
    color: #666666;
    font-style: italic;
    width: 65%;
    padding-top: 5px;
}

.reminder .reminder_warn {
    float: left;
    padding-right: 5px;
}

.popup_window {
    border: 5px solid #CCCCCC;
    padding: 5px 5px 5px 5px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #FFFFFF;
    overflow: auto;
}

.popup_window_title {
    width: 99%;
    background-color: #CCCCCC;
    margin: auto;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}

.popup_window_buttons_bar {
    width: 99%;
    border-top: 1px solid #CCCCCC;
    margin: auto;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
}

.top_logo {
    text-align: center;
    width: 150px;
    padding-top: 5px;
}

.top_search {
    height: 85px;
}

.overTxtLabel {
    font-size: 9pt;
    color: #AAAAAA;
}

.top_logo {
	padding-top: 0;
	width: 435px;
	text-align: left;
}

div.skinned-select {
        margin-right: 5px;
        float: left;
}
div.skinned-select select {
	opacity: 0;
	filter: alpha(opacity = 0);
	moz-opacity: 0;
	position: relative;
	z-index: 100;
}
div.skinned-select .select-text {
	position: absolute;
	text-indent: 3px;
	z-index: 1;
}

div.skinned-select .select-text,
div.skinned-select select,
div.skinned-select select option {
	color: #000;
}
/* non javascript version select */
.my-skinnable-select select {
  width: 262px;
  border: 1px solid #D5E6EE;
}
.clear {
	clear: both;
}


.select-wrap1 {
	height: 23px;
	width: 790px;
	padding-top: 10px;
}

.selectbox1 {
	background: url('../images/search_select1.jpg');
	width: 185px;
	height: 20px;
        float: left;
}
.selectbox1 select {
	height: 20px;
	width: 185px !important;
}
.selectbox1 .select-text {
	width: 185px;
	line-height: 20px;
}
.selectbox2 {
	background: url('../images/search_select2.jpg');
	width: 107px;
	height: 20px;
        float: left;
}
.selectbox2 select {
	height: 20px;
	width: 107px !important;
}
.selectbox2 .select-text {
	width: 107px;
	line-height: 20px;
}
.selectbox3 {
	background: url('../images/search_select3.jpg');
	width: 123px;
	height: 20px;
        float: left;
}
.selectbox3 select {
	height: 20px;
	width: 123px !important;
}
.selectbox3 .select-text {
	width: 123px;
	line-height: 20px;
}
.selectbox4 {
	background: url('../images/search_select4.jpg');
	width: 45px;
	height: 20px;
        float: left;
}
.selectbox4 select {
	height: 20px;
	width: 45px !important;
}
.selectbox4 .select-text {
	width: 45px;
	line-height: 20px;
}
