div.content table td {
    font-size: 10pt;
    margin-left: 30px;
    margin-right: 30px;
}

table.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

table.contact td {
    vertical-align: top;
    padding: 5px 5px 5px 5px;
    color: #666666;
}

table.contact td.title {
    background-color: #CCCCCC;
    text-align: center;
    font-weight: bold;
}

table.contact td.label {
    text-align: right;
    font-weight: bold;
}
