div.content table td {
    font-size: 10pt;
    margin-left: 30px;
    margin-right: 30px;
}

table.contact {
    padding-top: 50px;
    margin: auto;
    width: 75%;
}

table.contact td {
    vertical-align: top;
    padding: 5px 5px 5px 5px;
    color: #666666;
}

td.address {
    width: 35%;
    border-left: 1px solid #CCCCCC;
}

div.address {
    font-size: 11pt;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;
}

div.title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13pt;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3px;
}

table.form {
    width: 98%;
    margin: auto;
}

table.form td {
    margin: 3px 3px 3px 3px;
}

table.form td.label {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

table.form td.button {
    border-top: 1px solid #CCCCCC;
    text-align: right;
}

div.facebook {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.field {
    width: 98%;
    font-size: 10pt;
}

textarea {
    height: 150px;
}