.empty_results {
    text-align: center;
    color: #666666;
    font-size: 12pt;
    font-style: italic;
}

a.menu {
    cursor: pointer;
}

input, select, textarea {
    font-size: 12pt;
}

table.profile_form, 
table.payment_terms_table {
    width: 80%;
    margin: auto;
}

table.payment_terms_table {
    width: 25%;
}

table.profile_form td, 
table.payment_terms_table td {
    font-size: 12pt;
    padding: 3px 3px 3px 3px;
}

table.profile_form td.buttons_bar {
    text-align: right;
    background-color: #CCCCCC;
}

table.profile_form td.label {
    width: 35%;

}

table.profile_form td.title {
    text-align: center;
    border: 1px solid #CCCCCC;
    font-weight: bold;
}

input.field, select.field {
    width: 98%;
}

input.field_number {
    width: 25px;
}

textarea {
    width: 99%;
    height: 90px;
}

#employer_fees, #employer_jobs, 
#employer_subscriptions, #job {
    display: none;
}

#fees_table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

#fees_table td { 
    vertical-align: baseline;
}

.header {
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    background-color: #EEEEEE;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.cell {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #CCCCCC;
}

.action {
    width: 20%;
    text-align: center;
}

#fees_table td.action {
    vertical-align: middle;
    text-align: center;
}

.cell:hover {
    background-color: #BBFCA1;
}

#fees_table tr:hover  {
    background-color: #FFFF00;
}

.center {
    text-align: center;
}

div.buttons_bar {
    text-align: right;
    background-color: #CCCCCC;
    padding: 3px 3px 3px 3px;
}

#fee_window {
    display: none;
    width: 500px;
}

#fee_window .service_fee_form {
    width: 99%;
    margin: auto;
}

#fee_window .note {
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 9pt;
    color: #777777;
}

#employer_subscriptions div.buttons_bar {
    width: 50%;
    margin: auto;
}

table.subscription_form {
    width: 50%;
    margin: auto;
}

table.subscription_form td, 
table.subscription_form td div {
    font-size: 12pt;
    padding: 3px 3px 3px 3px;
    vertical-align: baseline;
}

#expiry {
    font-weight: bold;
}

#jobs_table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

#jobs_table tr:hover  {
    background-color: #FFFF00;
}

#job_form {
    margin: auto;
    width: 65%;
    border-spacing: 5px;
}

#job_form td {
    padding: 3px 3px 3px 3px;
    font-size: 12pt;
    vertical-align: top;
}

#job_form td.label {
    width: 15%;
}

#industry {
    font-size: 12pt;
    width: 98%;
}

.job_description {
    height: 550px;
}

#preview_window {
    display: none;
    width: 640px;
}

#preview_window #preview_area {
    width: 98%;
    height: 480px;
    overflow: auto;
    border: 1px solid #CCCCCC;
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px 3px 3px 3px;
}

div.toolbar {
    background-color: #CCCCCC;
}