p.note {
    font-size: 9pt;
    color: #666666;
    font-style: italic;
}

#div_tabs, #div_tabs_1 {
    text-align: center;
}

#div_tabs ul, #div_tabs_1 ul {
    padding: none;
    margin: none;
    list-style-type: none;
    white-space: nowrap;
}

#div_tabs li, #div_tabs_1 li {
    padding: 5px 5px 5px 5px;
    display: inline;
    cursor: pointer;
}

#li_open, #div_tabs_1 #li_back {
    border: 1px solid #CCCCCC;
}

#div_tabs_1 {
    padding-bottom: 5px;
}

#li_closed, #li_back_arrow {
    border: 1px solid #0000FF;
}

#open_back_arrow, #closed_back_arrow {
    display: none;
}

#div_open, #div_closed {
    padding-top: none;
}

#div_closed {
    display: none;
}

table.buttons {
    width: 100%;
    margin: auto;
    background-color: #CCCCCC;
}

table.buttons td.left {
    text-align: left;
}

table.buttons td.right {
    text-align: right;
}

input.button {
    font-size: 10pt;
}

input.mini_button {
    font-size: 9pt;
}

td.checkbox {
    width: 10px;
}

td.id {
    width: 35px;
}

td.industry {
   width: 150px;
}

td.date {
    width: 150px;
}

td.new_from {
    width: 150px;
    text-align: center;
}

span.sort {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

span.sort:hover {
    color: #FF0000;
}

#div_job_form, #div_job_info {
    text-align: center;
    display: none;
    padding-top: 10px;
}

table.job_form, table.job_info {
    width: 65%;
    margin: auto;
    border-collapse: collapse;
}

table.job_form td.label, table.job_info td.label {
    width: 25%;
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
}

table.job_form td.title, table.job_info td.title {
    text-align: center;
    border: 1px solid #CCCCCC;
    font-weight: bold;
}

option.main_industry {
    font-weight: bold;
}

#div_job_form input.field, #div_job_form select.field {
    width: 98%;
    font-size: 10pt;
}

#div_job_form input.carbon_copy {
    width: 93%;
    font-size: 10pt;
}

#div_job_form input.salary {
    width: 43%;
    font-size: 10pt;
}

textarea {
    font-size: 10pt;
    width: 99%;
    height: 250px;
}

div.description_field {
    font-size: 10pt;
    width: 100%;
    height: 250px;
}

table.job_form td.buttons_left, table.job_form td.buttons_right {
    background-color: #CCCCCC;
}

table.job_form td.buttons_right {
    text-align: right;
}

#job_extend_note {
    font-size: 9pt;
    font-style: italic;
    border: 1px dashed #FF0000;
}

/* job postings */
#div_slots_info {
    margin: 10px 10px 25px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

table.slots_info {
    width: 97%;
    margin: auto;
}

table.slots_info td.info {
    width: 90%;
}

table.slots_info td.buy {
    text-align: center;
}

div.slots_details {
    color: #666666;
}

#div_blanket {
    display: none;
    background-color: #000000;
    opacity: 0.5;
    filter : alpha(opacity=50); /* for IE */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#div_buy_slots_form {
    margin: 10px 10px 10px 10px;
    display: none;
    background-color: #FFFFFF;
    border: 3px solid #0000FF;
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    height: 209px;
    overflow: auto;
}

#div_purchase_histories {
    margin: 10px 10px 10px 10px;
    display: none;
    background-color: #FFFFFF;
    border: 3px solid #0000FF;
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 480px;
    overflow: auto;
}

#div_paypal_progress {
    margin: 10px 10px 10px 10px;
    display: none;
    background-color: #FFFFFF;
    border: 3px solid #0000FF;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100px;
    overflow: auto;
}

#div_buy_slots_form input.field {
    width: 20%;
}

#div_buy_slots_form p.button,
#div_purchase_histories p.button {
    background-color: #CCCCCC;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#div_buy_slots_form table.buy_slots_form {
    width: 99%;
    margin: auto;
    border-collapse: collapse;
}

#div_buy_slots_form table.buy_slots_form td {
    padding: 5px 5px 5px 5px;
    font-size: 10pt;
}

#div_buy_slots_form table.buy_slots_form td.label {
    text-align: right;
    width: 35%;
}

#div_purchase_histories #purchase_histories {
    width: 100%;
    height: 425px;
    overflow: auto;
}

td.number_of_slots, td.price_per_slot, 
td.amount, td.date, td.number_of_slots_title, td.price_per_slot_title, 
td.amount_title {
    width: 25%;
}

td.number_of_slots, td.price_per_slot, 
td.amount {
    text-align: right;
}
