#div_slots {
    padding-top: 10px;
}

td.date, td.employer, 
td.trans_id, td.price_per_slot_title, 
td.number_of_slots_title,
td.amount_title, td.action {
    width: 12%;
}

td.currency {
    width: 5%;
}

td.price_per_slot, td.number_of_slots,
td.amount {
    width: 12%;
    text-align: right;
}

td.action {
    text-align: center;
}

span.sort {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

span.sort:hover {
    color: #FF0000;
}
