#div_employers {
    padding-top: 10px;
}

table.buttons {
    width: 100%;
    margin: auto;
    background-color: #CCCCCC;
}

table.buttons td.left {
    text-align: left;
}

table.buttons td.right {
    text-align: right;
}

input.button {
    font-size: 10pt;
}

td.user_id, td.employer{
    width: 150px;
}

td.checkbox {
    width: 10px;
    text-align: center;
}

td.date, td.days {
    width: 100px;
}

td.actions {
    width: 150px;
    text-align: center;
}

span.sort {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

span.sort:hover {
    color: #FF0000;
}
