.empty_results {
    text-align: center;
    color: #666666;
    font-size: 12pt;
    font-style: italic;
}

.jobs {
    margin: auto;
    width: 99%;
    border-collapse: collapse;
}

.header {
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    background-color: #EEEEEE;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.cell {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #CCCCCC;
}

.cell:hover {
    background-color: #BBFCA1;
}

#jobs_table tr:hover  {
    background-color: #FFFF00;
}

.top_banner {
    padding-top: 15px;
    margin: auto;
    width: 80%;
    color: #666666;
}

.top_banner td {
    vertical-align: top;
}

.top_banner td.item {
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}

.jobs_publishing_instructions {
    padding-left: 3px;
    padding-top: 5px;
}

/* subscriptions*/
.subscriptions_details {
    padding-top: 5px;
}

.subscriptions_info {
    width: 99%;
    margin: auto;
}

.subscriptions_info td.label {
    width: 60%;
}

.buy {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 15px;
    border: 1px dashed #CCCCCC;
}

.back {
    margin: auto;
    width: 200px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: 1px solid #0000FF;
}

.job_desc {
    display: none;
}

.job {
    margin: auto;
    width: 80%;
    padding-top: 10px;
}

.job td {
    padding: 5px 5px 5px 5px;
}

.job td.title {
    text-align: center;
    font-weight: bold;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

.job td.label {
    text-align: right;
    font-weight: bold;
    width: 20%;
}

.job_description {
    width: 99%;
    padding: 5px 5px 5px 5px;
    height: 500px;
    overflow: auto;
    border: 1px solid #CCCCCC;
}