.login_form {
    width: 500px;
    margin: auto;
    border: 1px solid #CCCCCC;
    padding: 5px 3px 35px 5px;
}

.button_bar {
    margin-top: 5px;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

label, input {
    font-size: 12pt;
}

.field {
    width: 97%;
}
