.empty_results {
    text-align: center;
    color: #666666;
    font-size: 12pt;
    font-style: italic;
}

.referred_jobs {
    margin: auto;
    width: 99%;
    border-collapse: collapse;
}

.header {
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    background-color: #EEEEEE;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.cell {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #CCCCCC;
}

.resumes_column {
    text-align: center;
    font-weight: bolder;
    font-size: 12pt;
}

.cell:hover {
    background-color: #BBFCA1;
}

.referred_jobs tr:hover {
    background-color: #FFFF00;
}

.inline_job_desc {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border: 1px dashed #CCCCCC;
    display: none;
    overflow: auto;
}