div.login_form {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    border-bottom: 1px solid #CCCCCC;
    padding: 5px 3px 35px 5px;
}

div.button_bar {
    margin-top: 5px;
    text-align: right;
}

table.employer_page {
    width: 60%;
    border-collapse: collapse;
    margin: auto;
}

table.employer_page td {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
}

table.employer_page td.side {
    width: 10%;
    border-left: 1px solid #d9d9d9;
}

div.title {
    border-bottom: 1px solid #d9d9d9;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.texts {
    font-size: 11pt;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #666666;
}

#id, #password {
    font-family: verdana, tahoma, arial;
    font-size: 12pt;
    width: 97%;
    /*height: 23px;*/
}

td.login_status {
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

span.forgot_password {
    font-size: 10pt;
}

td.label {
    text-align: right;
    padding: 10px;
    width: 28%;
}

td.buttons {
    text-align: right;
    border-top: 1px solid #CCCCCC;
    padding-top: 3px;
    padding-bottom: 3px;
}

div.client-box {
    margin: 3px 3px 3px 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}

div.client-box div.employer_logos {
    width: 240px;
}

div.client-box table.employers_carousel {
    margin: auto;
    border-collapse: collapse;
    height: 150px;
}

div.client-box table.employers_carousel td {
    vertical-align: middle;
    text-align: center;
    padding: 3px;
}