.profile {
    padding-top: 20px;
}

.profile_form {
    margin: auto;
}

.profile_form td {
    padding: 5px 5px 5px 5px;
}
.label {;
    vertical-align: top;
    font-weight: bold;
}

.title {
    text-align: center;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    font-weight: bold;
}

.change_instructions {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}