.empty_results {
    text-align: center;
    color: #666666;
    font-size: 12pt;
    font-style: italic;
}

.payments {
    margin: auto;
    width: 99%;
    border-collapse: collapse;
}

.header {
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    background-color: #EEEEEE;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.cell_indicator, .pdf_download {
    width: 20px;
    text-align: center;
    vertical-align: middle;
}

.cell {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #CCCCCC;
}

/*.cell:hover {
    background-color: #BBFCA1;
}
*/
#invoices_table tr:hover, 
#receipts_table tr:hover  {
    background-color: #EFEFEF;
}

#div_invoices, #div_receipts {
    margin-top: -8px;
}

#div_receipts {
    display: none;
}

#div_tabs {
    text-align: center;
}

#div_tabs ul {
    padding: none;
    margin: none;
    list-style-type: none;
    white-space: nowrap;
}

#div_tabs li {
    padding: 5px 5px 5px 5px;
    display: inline;
    cursor: pointer;
}

#li_invoices {
    border: 1px solid #AAAAAA;
    border-bottom: 1px solid #EEEEEE;
    background-color: #EEEEEE;
}

#li_receipts {
    border: 1px solid #0000FF;
    border-bottom: none;
}