a.guides {
    color: #1D3E6E;
    font-size: 11pt;
}

div.banner {
    text-align: center;
}

div.referred_jobs, div.invoices {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

td.expired {
    text-align: center;
    width: 20px;
}

td.type {
    width: 150px;
}

td.invoice {
    width: 150px;
}

td.id {
    width: 35px;
}

td.referrals {
    width: 65px;
    text-align: center;
}

td.industry {
    width: 150px;
}

td.title, td.member, td.referee {
    width: 150px;
}

td.date {
    width: 150px;
}

img.warning {
    vertical-align: middle;
}
