/* for welcome page only */
div.howitworks_pulldown_bar {
    width: 800px;
    background-color: transparent;
    margin: auto;
}

div.howitworks_pulldown_bar div.pulldown {
    padding: 5px 5px 5px 5px;
    background-color: #efefef;
    width: 215px;
    font-weight: bold;
    text-align: center;
}

a.how_it_works {
    color: #666666;
}

#howitworks_arrow {
    height: 12px;
}
/* for welcome page only */

/* main banner */
#howitworks {
    display: none;
    margin: auto;
    width: 900px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid #efefef;
    border-left: 3px solid #efefef;
    border-right: 3px solid #efefef;
    height: 145px;
}

table.howitworks {
    margin: auto;
    width: 100%;
    height: 98%;
    border-collapse: collapse;
}

table.howitworks td {
    padding: 3px 3px 3px 3px;
}

table.howitworks td.banner {
    width: 65%;
}

table.howitworks td.toggle {
    border-left: 1px solid #d9d9d9;
    padding-left: 0px;
}

table.howitworks td.toggle div.fixed_label {
    font-color: #666666;
    font-size: 14pt;
    margin-bottom: 15px;
    padding-left: 5px;
}

span.howitworks_toggle {
    padding: 5px 5px 5px 5px;
}

#howitworks_toggle_recommender {
    background-color: #d9d9d9;
}
/* main banner */

/* banners */
#howitworks_recommender, 
#howitworks_candidate {
    
}

#howitworks_candidate {
    display: none;
}

table.banner {
    width: 100%;
    margin: auto;
    border-spacing: 5px;
}

table.banner td.box {
    border: 1px solid #d9d9d9;
    width: 75px;
    height: 75px;
}
/* banners */