.job_title {
    font-size: 21pt;
    font-weight: bold;
    width: 98%;
    margin: auto;
    padding-left: 3px;
}

.employer_country {
    font-style: italic;
    font-size: 12pt;
    width: 98%;
    margin: auto;
    padding-left: 3px;
}

.country {
    font-weight: bold;
    font-style: normal;
}

.details_table {
    width: 99%;
    margin: auto;
    padding-top: 10px;
}

.details_table td {
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.description {
    width: 75%;
}

.rest {
    border-left: 1px solid #CCCCCC;
}

.label {
    font-weight: bold;
}

.salary, .expires_on {
    padding-top: 10px;
}

.negotiable {
    font-size: 9pt;
    font-style: italic;
}

.rewards_section {
    margin-top: 10px;
    background-color: #EEEEEE; 
    padding: 5px 5px 5px 5px;
}

.reward_label {
    padding: 3px 3px 3px 3px;
    color: #28688A;
    font-weight: bold;
    font-size: 12pt;
}

.reward_amount {
    width: 95%;
    margin: auto;
    padding: 3px 3px 3px 3px;
    font-weight: bold;
    border: 2px solid #777777; 
    background-color: #FFFFFF;
}

.actions {
    margin-top: 10px;
    padding: 5px 5px 0px 5px;
    border: 1px solid #CCCCCC;
}

.action_item {
    padding-bottom: 10px;
}

#refer_window, #apply_window {
    display: none;
    width: 800px;
}

#refer_window textarea.field {
    width: 98%;
    height: 195px;
}

#apply_window {
    width: 550px;
}

.refer_form, .apply_form {
    width: 99%;
    margin: auto;
}

.refer_form td, 
.apply_form td {
    padding: 3px 3px 3px 3px;
    vertical-align: top;
}

.refer_form td.referrer {
    width: 50%;
    border-right: 1px solid #CCCCCC;
}

.referrer, .candidate {
    width: 100%;
    margin: auto;
}

.referrer input.field, 
.candidate input.field, 
.apply_form input.field {
    width: 97%;
    font-size: 10pt;
}

.referrer td.label, 
.candidate td.label {
    width: 35%;
}

.referrer td.title,
.candidate td.title {
    background-color: #EEEEEE;
    font-weight: bold;
    font-size: 11pt;
}

.note {
    font-style: italic;
    font-size: 9pt;
    text-align: center;
    color: #AAAAAA;
    margin-top: 5px;
}

#refer_progress, #apply_progress {
    display: none;
    text-align: center; 
    width: 99%; 
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
