#resumes_table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}
.header {
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    background-color: #EEEEEE;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.actions {
    text-align: center;
    vertical-align: middle;
}

.cell {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #CCCCCC;
}

.cell:hover {
    background-color: #BBFCA1;
}

#resumes_table tr:hover {
    background-color: #FFFF00;
}

#upload_resume_window {
    width: 450px;
    display: none;
}

#upload_progress {
    display: none;
}

.upload_resume_form {
    width: 99%;
    height: 165px;
    margin: auto;
    overflow: auto;
}

.upload_field {
    margin-top: 3px;
    text-align: center;
    margin: auto;
    width: 100%;
}

table.buttons {
    width: 100%;
    margin: auto;
    background-color: #CCCCCC;
}

table.buttons td.right {
    text-align: right;
}