#recommendations_table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.header {
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    background-color: #EEEEEE;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.actions {
    text-align: center;
    vertical-align: middle;
}

.cell {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #CCCCCC;
}

.cell:hover {
    background-color: #BBFCA1;
}

#recommendations_table tr:hover {
    background-color: #FFFF00;
}

.small_contact {
    font-size: 9pt;
    font-style: italic;
    color: #666666;
}

div.candidate_name {
    font-size: 10pt;
    font-weight: bold;
}

.empty_results {
    text-align: center;
    color: #666666;
    font-size: 12pt;
    font-style: italic;
}

