#div_sign_up, #div_job_profile {
    padding-top: 20px;
}

#div_job_profile {
    display: none;
}

.profile_form, 
.job_profile_form {
    width: 55%;
    margin: auto;
}

.profile_form td, 
.job_profile_form td {
    padding: 3px 3px 3px 3px;
}

.profile_form td.section_title, 
.job_profile_form td.section_title {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    border: 1px solid #CCCCCC;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile_form td.instruction, 
.job_profile_form td.instruction {
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
}

.profile_form td.note, 
.job_profile_form td.note {
    font-size: 9pt;
    color: #666666;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile_form td.label, 
.job_profile_form td.label {
    text-align: right;
    width: 35%;
    font-size: 12pt;
}

.profile_form .center, 
.job_profile_form .center {
    text-align: center;
}

.profile_form td.buttons_bar, 
.job_profile_form td.buttons_bar {
    text-align: right;
    border-top: 1px solid #CCCCCC;
    font-size: 12pt;
}

input {
    font-size: 12pt;
}

input.field, select.field {
    width: 98%;
    font-size: 12pt;
}

select.multiselect {
    height: 250px;
    font-size: 12pt;
}

textarea {
    font-size: 12pt;
    width: 99%;
    height: 150px;
}
