div.notice {
    text-align: center;
}

div.description {
    display: none;
    font-size: 10pt;
    padding: 10px 10px 10px 10px;
}

td.id {
    width: 35px;
}

td.confirm {
    width: 17%;
    text-align: center;
    vertical-align: middle;
}

td.employer {
    width: 15%;
}

td.title {
    width: 15%;
}

td.date {
    width: 10%;
}

span.sort {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

span.sort:hover {
    color: #FF0000;
}

input.button {
    font-size: 10pt;
}

