.login_form {
    width: 500px;
    margin: auto;
    margin-top: 25px;
    padding: 5px 5px 35px 5px;
}

.contact_drop {
    margin-top: 10px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.button_bar {
    margin-top: 5px;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

#id, #password {
    font-family: verdana, tahoma, arial;
    font-size: 12pt;
    width: 97%;
}

#div_password_reset_window {
    width: 450px;
    display: none;
}

input.field {
    width: 99%;
    font-size: 12pt;
}

td.label {
    width: 25%;
}

td.buttons {
    text-align: right;
    border-top: 1px solid #CCCCCC;
    padding-top: 3px;
    padding-bottom: 3px;
}

.window_title {
    text-align: center;
    background-color: #CCCCCC;
    font-size: 10pt;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

#div_password_reset_form {
    display: none;
}

.password_hint_form, .password_reset_form {
    margin: auto;
    width: 100%;
}

.question {
    text-align: center;
    font-size: 12pt;
    padding-top: 3px;
    padding-bottom: 3px;
}

label {
    font-size: 12pt;
}