.content {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.content td {
    vertical-align: top;
}

.left_content {
    width: 75%;
    border-right: 1px solid #CCCCCC;
}

.right_content {
    padding-left: 5px;
}

.quick_search {
    border: 1px solid #8BB1EB;
}

.quick_search_title {
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #8BB1EB;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.quick_search_list {
    list-style-type: square;
}

.quick_search_list_inner {
    list-style-type: disc;
}

#div_hrm_census {
    width: 99%;
    border: 1px solid #F89D00;
    margin-bottom: 15px;
}

.census_title {
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    padding: 3px 3px 3px 3px;
    background-color: #F89D00;
}

.buttons {
    width: 98%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    border-top: 1px solid #CCCCCC;
}

.census_form {
    width: 98%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.year {
    width: 30px;
}

#ethnicity_txt {
    width: 225px;
}

.profile_completeness {
    width: 99%;
    text-align: center;
    border: 1px solid #CCCCCC;
    padding-bottom: 4px;
    margin-bottom: 15px;
}

.completeness_title {
    float: left;
    font-size: 12pt;
    font-weight: bold;
    color: #464545;
    padding: 5px 3px 5px 3px;
    background-color: #CCCCCC;
}

.progress {
    border: 1px solid #0000FF;
    background-color: #FFFFFF;
    padding: 1px 1px 1px 1px;
    width: 260px;
    height: 16px;
    margin-top: 5px;
    margin-left: 210px;
}

#progress_bar {
    border: 1px solid #0000FF;
    background-color: #0000FF;
    height: 14px;
}

#percent {
    float: left;
    margin-left: 280px;
    margin-top: -19px;
    font-weight: bold;
}

.progress_details {
    text-align: center;
    font-size: 9pt;
    float: left;
    margin-left: 350px;
    margin-top: -19px;
}

.profile {
    width: 99%;
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.profile_title {
    font-size: 12pt;
    font-weight: bold;
    color: #464545;
    background-color: #CCCCCC;
    padding: 3px 3px 3px 3px;
}

.profile_form {
    width: 98%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile_form_table {
    width: 98%;
    margin: auto;
}

.profile_form_table td {
    padding: 5px 5px 5px 5px;
}

.profile_form_table td.field {
    width: 35%;
}

.profile_form_table td.odd {
    background-color: #EEEEEE;
}

.profile_form_table td.action {
    text-align: center;
    width: 5%;
}

textarea {
    width: 75%;
    height: 100px;
}

.notice_period {
    width: 45px;
}

#notes_window, #texts_window, #ranges_window, 
#choices_window, #job_profile_window {
    display: none;
}

input.texts {
    width: 97%;
    font-size: 12pt;
}

input.range {
    font-size: 12pt;
}

div.notes_form, div.texts_form, 
div.ranges_form, div.choices_form {
    text-align: center;
}

#notes_window div.notes_form {
    width: 640px;
}

#notes_window textarea {
    width: 98%;
    height: 480px;
    font-size: 12pt;
}

#choices_window div.choices_form {
    width: 250px;
    padding: 3px 3px 3px 3px;
}

#texts_window div.texts_form {
    width: 250px;
    padding: 3px 3px 3px 3px;
}

#texts_window input.text {
    width: 50%;
    font-size: 12pt;
}