#div_recommenders, #div_recommender {
    padding-top: 10px;
}

#div_recommender, #div_new_recommender_form {
    display: none;
}

#div_tabs {
    text-align: center;
}

#div_tabs ul {
    padding: none;
    margin: none;
    list-style-type: none;
    white-space: nowrap;
}

#div_tabs li {
    padding: 5px 5px 5px 5px;
    display: inline;
    cursor: pointer;
}

li.back {
    border: 1px solid #0000FF;
}

#li_profile {
    border: 1px solid #CCCCCC;
}

#li_candidates {
    border: 1px solid #0000FF;
}

#div_profile, #div_candidates {
    text-align: center;
    display: none;
    padding-top: 10px;
}


table.profile {
    width: 65%;
    margin: auto;
    border-collapse: collapse;
}

table.profile td {
    padding: 3px 3px 3px 3px;
}

table.profile td.label {
    width: 25%;
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
}

table.profile td.title {
    text-align: center;
    border: 1px solid #CCCCCC;
    font-weight: bold;
}

table.profile td.added_on_date {
    text-align: right;
    color: #666666;
    font-size: 9pt;
}

table.buttons {
    width: 100%;
    margin: auto;
    background-color: #CCCCCC;
}

table.buttons td.left {
    text-align: left;
}

table.buttons td.right {
    text-align: right;
}

input.button {
    font-size: 10pt;
}

input.mini_button {
    font-size: 9pt;
}

input.field, select.field {
    width: 98%;
    font-size: 10pt;
}

table.profile td.buttons_bar {
    text-align: right;
    background-color: #CCCCCC;
}

td.date {
    width: 100px;
}

td.recommender {
    width: 210px;
}

td.candidate {
    width: 210px;
}

td.industries {
    width: 100px;
}

td.actions {
    text-align: center;
    width: 100px;
}

span.sort {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

span.sort:hover {
    color: #FF0000;
}

span.specialization {
    font-size: 7pt;
    color: #0000FF;
    background-color: #FFFF99;
    border: none;
    padding-left: 3px;
    padding-right: 3px;
}

div.phone_num {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 8pt;
    font-style: italic;
}

td.buttons_left, td.buttons_right {
    background-color: #CCCCCC;
}

td.buttons_right {
    text-align: right;
}

#div_blanket {
    display: none;
    background-color: #000000;
    opacity: 0.5;
    filter : alpha(opacity=50); /* for IE */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

