#div_mailing_lists, #div_candidates {
    padding-top: 10px;
}

#div_candidates {
    text-align: center;
    display: none;
    padding-top: 10px;
}

#div_tabs {
    text-align: center;
}

#div_tabs ul {
    padding: none;
    margin: none;
    list-style-type: none;
    white-space: nowrap;
}

#div_tabs li {
    padding: 5px 5px 5px 5px;
    display: inline;
    cursor: pointer;
}

li.back {
    border: 1px solid #0000FF;
}

table.buttons {
    width: 100%;
    margin: auto;
    background-color: #CCCCCC;
}

table.buttons td.left {
    text-align: left;
}

table.buttons td.right {
    text-align: right;
}

input.button {
    font-size: 10pt;
}

input.mini_button {
    font-size: 9pt;
}

input.field, select.field {
    width: 98%;
    font-size: 10pt;
}

td.date {
    width: 100px;
}

td.count {
    width: 130px;
}

td.candidate {
    width: 210px;
}

td.label, td.employee {
    width: 200px;
}

td.actions {
    text-align: center;
    width: 130px;
}

span.sort {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}

span.sort:hover {
    color: #FF0000;
}

div.phone_num {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 8pt;
    font-style: italic;
}

td.buttons_left, td.buttons_right {
    background-color: #CCCCCC;
}

td.buttons_right {
    text-align: right;
}

#div_blanket {
    display: none;
    background-color: #000000;
    opacity: 0.5;
    filter : alpha(opacity=50); /* for IE */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#div_email_form {
    display: none;
    background-color: #FFFFFF;
    position: fixed;
    border: 3px solid #0000FF;
    text-align: center;
    width: 675px;
    height: 400px;
    overflow: auto;
}

#div_email_form table.email_form {
    margin: auto;
    width: 100%;
}

#div_email_form table.email_form td {
    padding: 3px 3px 3px 3px;
    vertical-align: top;
}

#div_email_form table.email_form td.label {
    color: #666666;
    text-align: right;
    width: 15%;
}

#div_email_form p {
    font-size: 10pt;
    margin: 3px 3px 3px 3px;
}

#div_email_form p.button {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #CCCCCC;
}

#div_email_form textarea  {
    width: 98%;
    height: 290px;
}

#div_email_form input.textfield  {
    width: 98%;
}
