.empty_results {
    text-align: center;
    color: #666666;
    font-size: 12pt;
    font-style: italic;
}

.statistics {
    padding-bottom: 10px;
    text-align: right;
}

.results_table {
    margin: auto;
    width: 100%;
}

.results_table td {
    vertical-align: top;
}

.results_table td.mini_search {
    width: 20%;
}

.results_table td.saved_search {
    width: 20%;
}

.filter {
    padding-left: 5px;
    padding-right: 5px;
}

.filter_title {
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    background-color: #efefef;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

table.filter_options {
    width: 98%;
    margin: auto;
    padding-bottom: 5px;
}

table.filter_options td.label {
    width: 20%;
    text-align: right;
}

table.filter_options select {
    width: 98%;
}

.filter_button {
    width: 95%;
    margin: auto;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #CCCCCC;
}