body {
    margin: 0; 
    padding: 0;
    background-color: #FFFFFF;
    color: #8B8987;
    background-image: url(../images/welcome_bgfinal.jpg);
    background-repeat: repeat-x;
}

.empty_results {
    text-align: center;
    color: #666666;
    font-size: 12pt;
    font-style: italic;
}

#welcome_top {
    margin: auto;
    width: 779px;
    height: 107px;
}

#welcome_top div.topmenu {
    font-size: 11pt;
    display: inline;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

#welcome_top div.loginpanel {
    font-size: 11pt;
    display: inline;
    position: absolute;
    margin-top: 20px;
    margin-left: 300px;
}


#welcome_top div.topmenu a, 
#welcome_top div.loginpanel a {
    color: #FFFFFF;
}

#welcome_top div.topmenu a:hover, 
#welcome_top div.loginpanel a.loginpanel:hover {
    color: #FC8F02;
}

#welcome_top div.loginpanel a.welcome_employers {
    color: #FC8F02;
}

#welcome_top div.loginpanel a.welcome_employers:hover {
    color: #FFFFFF;
}

div.content {
    margin: auto;
    width: 747px;
}

div.content div.section_top {
    padding-bottom: 15px;
    text-align: center;
}

div.section_top div.main_title {
    text-align: center;
    margin-top: 62px;
    padding-bottom: 40px;
}

div.section_top div.panel {
    display: inline;
    text-align: center;
}

div.panel.middle {
    padding-left: 25px;
    padding-right: 25px;
}

div.section_bottom {
    margin: auto;
}

table.details {
    margin: auto;
    width: 747px;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.details td {
    vertical-align: top;
}

table.details td.why_connect {
    border-right: 1px solid #d9d9d9;
}

table.details td div.practice {
    padding-left: 15px;
    border-bottom: 1px solid #d9d9d9;
}

table.details td div.practice div.handshake {
    text-align: center;
    padding-bottom: 10px;
}

table.details td div.facebook_panel {
    margin-top: 10px;
    padding-left: 33px;
    border-bottom: 1px solid #d9d9d9;
}

table.details td div.youtube {
    margin-top: 10px;
    margin-left: 23px;
}

div.side-text {
    color: #000000;
}

div.search {
    text-align: center;
    margin: auto;
    border: 1px #d9d9d9 solid;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 15px;
    color: #000000;
    width: 850px;
}

div.search div.form_title {
    padding-left: 31px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #d9d9d9;
}

div.search div.filters {
    text-align: center;
    margin: auto;
    width: 95%;
    padding-bottom: 10px;
    padding-top: 15px;
}

div.search #employer, 
div.search #industry, 
div.search #country {
    width: 30%;
    font-size: 12pt;
}

div.search div.keywords {
    margin: auto;
    text-align: center;
}

div.search #keywords {
    width: 660px;
    font-size: 12pt;
}

label.overTxtLabel {
    font-size: 12pt;
/*    position: absolute;
    left: 280px;
    top: 850px;
    padding-top: 4px;
*/}

div.top_jobs {
    width: 847px;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
}

div.top_jobs div.top_jobs_title {
    padding-top: 30px;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 25px;
    padding-bottom: 10px;
}

#top_jobs_table {
    width: 784px !important;
    margin-top: 17px !important;
    color: #8b8987;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

#top_jobs_table td {
    padding: 5px 5px 5px 5px ;
}

#top_jobs_table td a {
    font-weight: bold;
}

#top_jobs_table td.header {
    color: #4b4b4b;
    padding-bottom: 9px;
    font-weight: bold;
    font-size: 12pt;
}

#top_jobs_table td.money {
    text-align: right;
}

div.counters {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    margin: auto;
    width: 847px;
}

#top_employers {
    width: 847px;
    margin: auto;
    padding-top: 35px;
}

#top_employers div.top_employers_title {
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

#top_employers #employers_carousel {
    margin: 0 auto;
    height: 183px;
}

#top_employers #employers_carousel table {
    margin: auto;
    width: 100%; 
    border-collapse: collapse;
}

div.employer_logos {
    text-align: center;
}
