body {
    margin: 0; 
    padding: 0;
    background-color: #FFFFFF;
    color: #8B8987;
    background-image: url(../images/welcome_bgfinal.jpg);
    background-repeat: repeat-x;
}

.empty_results {
    text-align: center;
    color: #666666;
    font-size: 12pt;
    font-style: italic;
}

#welcome_top {
    margin: auto;
/*    width: 779px;*/
    width: 90%;
    height: 107px;
/*    border: 1px solid white;*/
}

#welcome_top div.topmenu {
    font-size: 11pt;
    display: inline;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

div.loginbar {
    text-align: center;
    background-color: #efefef;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.facebook_like {
    display: inline;
}

div.facebook_like iframe {
    vertical-align: middle;
    margin-top: -55px;
}

#welcome_top div.topmenu a {
    color: #FFFFFF;
}

#welcome_top div.topmenu a:hover {
    color: #FC8F02;
}

#welcome_top div.loginpanel a.welcome_employers {
    color: #FDD501;
}

#welcome_top div.loginpanel a.welcome_employers:hover {
    color: #FFFFFF;
}

div.content {
    margin: auto;
/*    width: 747px;*/
    width: 80%;
}

div.content div.section_top {
    padding-bottom: 15px;
    text-align: center;
}

div.section_top div.main_title {
    text-align: center;
    margin-top: 40px;
}

div.section_top div.panel {
    display: inline;
    text-align: center;
}

div.panel.middle {
    padding-left: 25px;
    padding-right: 25px;
}

div.section_bottom {
    margin: auto;
    padding-top: 10px;
}

table.details {
    margin: auto;
/*    width: 747px;*/
    width: 85%;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.details td {
    vertical-align: top;
}

table.details td.top_jobs {
    border-right: 1px solid #d9d9d9;
}

table.details td.for_employers {
    width: 30%;
}

table.details td div.practice {
    padding-left: 15px;
    border-bottom: 1px solid #d9d9d9;
}

table.details td div.practice div.handshake {
    text-align: center;
    padding-bottom: 10px;
}

table.details td div.facebook_panel {
    margin-top: 10px;
    padding-left: 33px;
    border-bottom: 1px solid #d9d9d9;
}

table.details td div.youtube {
    margin-top: 10px;
    margin-left: 23px;
}

div.for_employers {
    margin: 3px 3px 3px 3px;
    margin-top: 20px;
}

div.for_employers div.for_employers_title {
    font-size: 20pt;
    border-bottom: 1px solid #d9d9d9;
    color: #000000;
    margin: 3px 3px 3px 3px;
    padding-bottom: 15px;
}

div.for_employers div.for_employers_content {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

div.for_employers div.for_employers_login {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #cccccc;
    text-align: center;
}

div.side-text {
    color: #000000;
}

div.search {
    text-align: center;
    margin: auto;
    border: 1px #d9d9d9 solid;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 15px;
    color: #000000;
    width: 850px;
}

div.search div.form_title {
    padding-left: 31px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #d9d9d9;
}

div.search div.filters {
    text-align: center;
    margin: auto;
    width: 95%;
    padding-bottom: 10px;
    padding-top: 15px;
}

div.search #employer, 
div.search #industry, 
div.search #country {
    width: 30%;
    font-size: 12pt;
}

div.search div.keywords {
    margin: auto;
    text-align: center;
}

div.search #keywords {
    width: 660px;
    font-size: 12pt;
}

label.overTxtLabel {
    font-size: 12pt;
}

div.top_jobs {
/*    width: 847px;*/
    width: 98%;
    background-color: white;
    margin: auto;
/*    margin-top: 15px;*/
    margin-bottom: 15px;
    padding-bottom: 15px;
/*    border-bottom: 1px solid #d9d9d9;*/
}

div.top_jobs div.top_jobs_title {
    padding-top: 25px;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 25px;
    padding-bottom: 10px;
}

#top_jobs_table {
/*    width: 784px !important;*/
    margin-top: 17px !important;
    color: #8b8987;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

#top_jobs_table td {
    padding: 5px 5px 5px 5px ;
}

#top_jobs_table td a {
    font-weight: bold;
}

#top_jobs_table td.header {
    color: #4b4b4b;
    padding-bottom: 9px;
    font-weight: bold;
    font-size: 12pt;
}

#top_jobs_table td.money {
    text-align: right;
}

div.counters {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    margin: auto;
    width: 847px;
}

#div_password_reset_window {
    width: 450px;
    display: none;
}

input.field {
    width: 99%;
    font-size: 12pt;
}

td.label {
    width: 25%;
    color: #000000;
}

td.buttons {
    text-align: right;
    border-top: 1px solid #CCCCCC;
    padding-top: 3px;
    padding-bottom: 3px;
}

.window_title {
    text-align: center;
    background-color: #CCCCCC;
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

#div_password_reset_form {
    display: none;
}

.password_reset_form {
    margin: auto;
    width: 100%;
}

/*#top_employers {
    width: 847px;
    margin: auto;
    padding-top: 35px;
}

#top_employers div.top_employers_title {
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

#top_employers #employers_carousel {
    margin: 0 auto;
    height: 183px;
}

#top_employers #employers_carousel table {
    margin: auto;
    width: 100%; 
    border-collapse: collapse;
}

div.employer_logos {
    text-align: center;
}
*/

div.client-box {
    margin: 3px 3px 3px 3px;
    margin-top: 28px;
}
div.client-box .employer_logos {
    width: 230px;
}

div.client-box table.employers_carousel {
    margin: auto;
    border-collapse: collapse;
}

div.client-box table.employers_carousel td {
    vertical-align: middle;
}